* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.font-inter {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}


/* navbar style start here */
.header-container {
    width: 100%;
    background-color: #FFFFFF;

}

.nav-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    max-width: 1700px;
    padding: 20px 90px;
}

.nav-link ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    gap: 40px;
}

.nav-link ul a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #575757;
}

.btn-primary button {
    background-color: #1D4ED8;
    border: none;
    border-radius: 11px;
    padding: 12px 41px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-primary button:hover {
    box-shadow: 6px 10px 10px #7a7aa8;
}

/* navbar style end here */
/* Banner style start here */

.hero-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('assets/banner.jpg');
    width: 100%;
    height: 780px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.hero-content {
    position: relative;
    width: 900px;
    color: #ffffff;
}

.hero-content h1 {
    font-size: 70px;
    font-weight: 700;
    padding-top: 136px;
    margin-bottom: 16px;
}

.hero-content p {
    font-size: 22px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 331px;
}

.hero-btn {
    background-color: #1D4ED8;
    border: none;
    border-radius: 11px;
    padding: 20px 60px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 79px;
}

.hero-btn:hover {
    box-shadow: 6px 10px 10px #1f1f2c;
}

/* Banner style end here */
/*Speakers style start here */

.all-section-speakers h2 {
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 56px;
}

.section-speakers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    justify-items: center;
    padding: 0 100px;
}

.card {
    width: 100%;
    border: 2px solid #ececf2;
    border-radius: 12px;
    /* background-color: #E5E7EB; */
}

.card:hover {
    box-shadow: 6px 12px 10px #ececf2;
}

.img-style {
    width: 100%;
}

.card-title {
    padding-left: 24px;
    padding-bottom: 34px;
}

.card-title span {
    font-size: 16px;
    font-weight: 600;
    color: #1D4ED8;
}

.card-title h3 {
    font-size: 20;
    font-weight: 700;
    color: #0D1B2A;
    padding-bottom: 8px;
}

.card-title p {
    font-size: 14px;
    font-weight: 400;
    color: #575757;
    padding-bottom: 24px;
}

/*Speakers style end here */
/* payment style start here */

.subtitle {
    text-align: center;
    padding: 80px 0;
}

.subtitle h2 {
    font-size: 48px;
    font-weight: bold;
    color: #0D1B2A;
    padding-bottom: 1px;
}

.subtitle p {
    font-size: 16px;
    font-weight: 400;
    color: #575757;
    margin-bottom: ;
}

.payment-container {
    display: flex;
     margin: 0 auto;
    justify-content: center;
    gap: 15px;
    max-width: 900px;   
}

.payment-card-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    text-align: left;
}

.payment-card {
    background: white;
    padding: 25px;
    width: 370px;
    height: 410px;
    border-radius: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.payment-card:hover{
    box-shadow: 6px 12px 10px #ececf2;
}

.payment-card hr {
    border: none;
    border-top: 1px solid #ddc6c6;
    margin: 15px 0;
}

.payment-card ul {
    padding-left: 18px;
    padding-bottom: 20px;
}

.payment-card ul li {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 10px;
}

.featured-card{
    background-color: #0D1B2A;
}

.featured-card:hover{
    box-shadow: 6px 12px 10px #03bbb2;
}

.featured-card div span{
    color: #93C5FD;
}

.featured-card h3{
    color: #FFFFFF;
}

.featured-card div p{
    color: #FFFFFF;
}

.featured-card ul li{
    color: #ffffff;
}

.featured-card btn-primary {
  background: #3b4fe4;
  color: #ffffff;
}

.payment-tag h2 {
    font-size: 44;
    font-weight: bold;
    color: #0D1B2A;
}

.payment-tag p {
    font-size: 13px;
    font-weight: 400;
    color: #888888;
    margin-bottom: 40px;
}

.payment-card .btn {
    width: 100%;
    padding: 12px;
    border: 1px solid #4a6cf7;
    background: transparent;
    color: #4a6cf7;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 600;
    font-weight: bold;
}

.btn-middle{
    border: none !important;
    background: #2563EB!important;
    color: #FFFFFF !important;
}
